<div class="container">
  <form #timedata='ngForm' (ngSubmit)="initTimer(timedata)">
    <div class="form-group">
      <label for="minutes">Enter Minutes of your Work Cycle</label>
      <input type="text" id="inpMin" class="form-control" name="minutes" placeholder="Enter minutes" ngModel>
      <small id="minHelp" class="form-text text-muted">Choose time wisely based on your concentration levels.</small>
    </div>

    <ng-container *ngIf="!isTimerOn; else elseTemplate">

      <button class="btn btn-block btn-primary mt-2" [ngClass]="{'btn-success disabled': isTimerOn}">
        <ng-container *ngIf="isTimerOn; else elseTemplate1">
          Timer Started , Work Cycle Begins
        </ng-container>
        <ng-template #elseTemplate1>

          <ng-container *ngIf="isComplete; else elseTemplate">
            Set Break Timer | Reload After Completing One Pomodoro Cycle
          </ng-container>
          <ng-template #elseTemplate>
              Set Timer
          </ng-template>
        </ng-template>
      </button>

    </ng-container>
    <ng-template #elseTemplate>

      <div class="pause text-center">
        <button class="btn btn-danger btn-block mt-2 " (click)="stopTimer()" [ngClass]="{'disabled': !this.isTimerOn}">Stop/Take
          Break
        </button>
      </div>
    </ng-template>

  </form>
</div>
