@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.jumbotron{
  padding: 10px;
  color: grey;
  margin-bottom: 16px;
  font-family: 'Josefin Sans', sans-serif;
    .date-time{
      display: inline-block;
      position: relative;
      padding: 8px;
      font-weight: bold;
      font-size: 20px;
    }
}
