.jumbotron{
  padding: 10px;
  color: grey;
  h1{
    .img{
      height: 120px;
      width: 250px;
    }
  }
  .today{
    display: inline-block;
    position: relative;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #1f1e1e;
  }
}
