.showTimeStart{
  border : 2px solid #a1c5aa;
  border-radius: 14px;
  padding : 18px;
  h2{
    font-size: 45px;
    color: #28a745;
  }
}

.showTimeStop{
  border : 2px solid #dfa9af;
  border-radius: 14px;
  padding : 18px;
  h2{
    font-size: 45px;
    color: #dc3545;
  }
}
